body {
  background-color: #ccf5f5;
}

#gameholder {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 600px;
  height: 150px;
  background-image:url('../penguin_pngs/penguin_title.png');
}

.penguin1 {
  background-image:url('../penguin_pngs/mound_1.png');
  width: 200px;
  height: 200px;
}
.penguin2 {
  background-image:url('../penguin_pngs/mound_2.png');
  width: 200px;
  height: 200px;
}
.penguin3 {
  background-image:url('../penguin_pngs/mound_3.png');
  width: 200px;
  height: 200px;
}
.penguin4 {
  background-image:url('../penguin_pngs/mound_4.png');
  width: 200px;
  height: 200px;
}
.penguin5 {
  background-image:url('../penguin_pngs/mound_5.png');
  width: 200px;
  height: 200px;
}
.penguin6 {
  background-image:url('../penguin_pngs/mound_6.png');
  width: 200px;
  height: 200px;
}
.penguin7 {
  background-image:url('../penguin_pngs/mound_7.png');
  width: 200px;
  height: 200px;
}
.penguin8 {
  background-image:url('../penguin_pngs/mound_8.png');
  width: 200px;
  height: 200px;
}

.yeti {
  background-image:url('../penguin_pngs/mound_9.png');
  width: 200px;
  height: 200px;
  float: left;
}
