body {
  background-color: #ccf5f5;
}

#gameholder {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 600px;
  height: 150px;
  background-image:url('../penguin_pngs/penguin_title.png');
}

.1:hover {
  background-image:url('../penguin_pngs/mound_1_hover.png');
  cursor: pointer;
}

.penguin1 {
  width: 200px;
  height: 200px;
  float: left;
  background-image:url('../penguin_pngs/mound_1.png');
}
.penguin2 {
  background-image:url('../penguin_pngs/mound_2.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin3 {
  background-image:url('../penguin_pngs/mound_3.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin4 {
  background-image:url('../penguin_pngs/mound_4.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin5 {
  background-image:url('../penguin_pngs/mound_5.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin6 {
  background-image:url('../penguin_pngs/mound_6.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin7 {
  background-image:url('../penguin_pngs/mound_7.png');
  width: 200px;
  height: 200px;
  float: left;

}
.penguin8 {
  background-image:url('../penguin_pngs/mound_8.png');
  width: 200px;
  height: 200px;
  float: left;

}

.yeti {
  background-image:url('../penguin_pngs/mound_9.png');
  width: 200px;
  height: 200px;
  float: left;

}
