/* General Element Styles */
html {
  margin: 2%;
  }

header {
  border: solid 2px black;
  border-radius: 5%;
  background: brown;
  padding: 1% 0;
  width: 100%;
}

footer {
  margin-top: 10%;
  border: solid 2px black;
  border-radius: 5%;
  background: blue;
  position: absolute;
}

nav ul li {
  display: block;
}

/* Class Styles */

.question {
  margin-right: 2%;
}

.welcome {
  margin-top: 5%;
  padding: 3%;
  border: solid 2px black;
  border-radius: 5%;
  background: green;
  opacity: 0.9;
}

/* Skeleton Derivative */
.column,
columns {
  padding: 10%;
}

/* Background */
body:before {
    background: url("../images/ghost-in-the-shell.jpg") center top repeat;
    content: '';
    width: 90%;
    min-height: 100%;
    max-height: 500%;
    opacity: 0.6;
    background-position: center;
    position: absolute;
    left: 5%;
    z-index: -1;
    background-repeat: repeat;
}

/* For Mobile (< 550px width) */
@media (min-width: 550px) {
  
}

/* Social media links, show only on desktop */
@media (max-width: 550px) {
  span {
    display: none;
  }
}