header {
  border: solid 2px black;
  border-radius: 5%;
  background: brown;
}

nav ul li {
  display: inline-block;
}

section.welcome {
  border: solid 2px black;
  border-radius: 5%;
  background: green; 
}

/* Hide Social for Mobile */
@media (max-width: 550px) {
  span {
    display: none;
  }
}